<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/support.css"> 
</head>
<body>

    <% layout("/layouts/admin-boilerplate.ejs") %>

    <section id="support">
        <div class="container">
            <h2>Support</h2>
            <div class="card">
                <p>For any administrative issues, contact <a href="mailto:ranadebhushan8@gmail.com">ranadebhushan8@gmail.com</a>.</p>
            </div>
        </div>
    </section>
    
</body>
</html>